       @font-face{
     font-family: 'andrea1'; 
     src: url('andrea.ttf') format('truetype');
}


		h1 { 
  display: block;
  font-size: 20em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0px;
  margin-right: 0;
  font-weight: bold;
  color: green;
  font-family: sans-serif;
}

  img{
    border-radius: 50%;
    width:300px;
    height:300px;
    object-fit: cover;
  }

  button{
    margin: 0;
    height: 80px;
    width: 280px;
    border-radius: 40px;
    font-size: 15px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
  }

  a{

     text-decoration: none;
  }

  body{
    background-color: pink;
  }
