

  img{
    border-radius: 50%;
    width:600px;
    height:600px;
    object-fit: cover;
  }

  button{
    margin: 0;
    height: 80px;
    width: 280px;
    border-radius: 0px;
    font-size: 15px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
  }

  a{

     text-decoration: none;
  }

  body{
    background-color: pink;
  }
